body {
    background: #EDF9E9
}

h1 {
    text-indent: 1em;
}

.p1 {
    font-size: 24px;
    font-weight: bold;
    color: red
}

p {
    text-indent: 3em;
}

.p2 {
    font-size: 20px;
    color: darkgray;
}

.p3 {
    color: darkgray;
    font-size:15px
}

blockquote.p3 {
    font-style: italic
}

.hh1 {
    text-shadow: 0.03em 0.03em 3px gray;
    color: white;
}

h3 {
    text-indent: 2em;
    color: #293A80;
    text-shadow: 0.1em 0.1em 10px gray;
    font-weight: 700
}

h4 {
    text-indent: 1em;
}

div {
    text-indent: 1em;
}

footer {
    text-align: right;
    font-size: 19px;
    color: darkred;
}

.discuss {
    margin-top: 50px;
    margin-left: -50px;
}