<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书管理系统</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <style>
        label {
            display: flex;
            align-items: center;
            white-space: nowrap;
        }

        select {
            margin-left: 10px;
        }
    </style>

</head>
<body>

<!-- partial:index.partial.html -->
<div class="container right-panel-active">
    <!-- Sign Up -->
    <div class="container__form container--signup">
        <form method="post" action="{% url 'user:register' %}" class="form">
            {% csrf_token %}
            <h2 class="form__title">Sign Up</h2>
            <input type="text" placeholder="Name" class="input" name="re_name" id="name" pattern="^[\u4e00-\u9fa5a-zA-Z0-9 ]+$" required/>
            <input type="text" placeholder="Username" class="input" name="re_username" pattern="[a-zA-Z0-9\s]*" required/>
            <input type="email" placeholder="Email" class="input" name="re_email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required/>
            <input type="password" name="re_password" id='re_password' placeholder="Password" class="input"
                   title='字母开头，长度在6~18之间，只能包含字母、数字和下划线'
                   pattern="^[a-zA-Z]\w{5,17}$" required/>
            <button type="submit" class="btn">Sign Up</button>

        </form>
    </div>

    <!-- Sign In -->
    <div class="container__form container--signin">
        <form method="post" action="{% url 'user:login' %}" class="form" id="form2" >
            {% csrf_token %}
            <h2 class="form__title">Sign In</h2>
            <input type="text" placeholder="Username" class="input" name="lo_username" value="{{ result.username }}"/>
            <input type="password" placeholder="Password" class="input" name="lo_password" value="{{ result.password }}"/>
            <label class="font_min">
                <input type="radio" name="radio" id="user" value="user" checked>user
                <input type="radio" name="radio" id="manager" value="manager">massage
            </label>
            <div class="font_min">
                {% if result.username == '' %}
                    <label for="male" style="float: right">
                        <input type="checkbox" name="remember" id="male" value="remember">
                        Remember password
                    </label>
                {% else %}
                    <label for="male" style="float: right">
                        <input type="checkbox" name="remember" id="male" value="remember" checked>
                        Remember password
                    </label>
                {% endif %}
            </div>
            <button class="btn">Sign In</button>
        </form>
    </div>

    <!-- Overlay -->
    <div class="container__overlay">
        <div class="overlay">
            <div class="overlay__panel overlay--left">
                <button class="btn" id="signIn">Sign In</button>
            </div>
            <div class="overlay__panel overlay--right">
                <button class="btn" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>
<!-- partial -->
<script src="/static/js/login.js"></script>
<script>
    //页面刷新
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
    //输出用户名重复的情况
    if ('{{result.type}}' == 'False') {
        alert('{{result.msg}}')
    }
</script>
</body>
</html>
